#########################################
### MAC 파일들 무시
#########################################
**/._*
#########################################



#########################################
### Visual Studio 생성 폴더 및 파일 무시
#########################################
.pdb
.vs/
bin/
obj/
#########################################



#########################################
### 예외 처리
#########################################

#########################################



